__pycache__/
*.py[cod]
*$py.class
*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out
build/
*/build/
/dist/
*.egg-info/
.eggs/
*.log
*.tmp
*.swp
*~
.DS_Store
.idea/
coverage.xml
*.cover
venv/
ENV/
.env
node_modules/
Thumbs.db__pycache__/
*.pyc
.DS_Store
.idea/
Shooter/Shooter.zip
*.vsix
.vscode/settings.json